.search-img {
  height: 15px;
  width: 15px;
  filter: invert(100%);
  position: absolute;
  right: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.search-img:hover {
  cursor: pointer;
}

.search-btn {
  height: 30px;
  width: 30px;
}

.nav-bar {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.search-container {
  height: 30px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  -webkit-appearance: none;
  border: none;
  height: 30px;
  width: 270px;
  border-radius: 6px;
  background-color: #ffffff1a;
  font-size: 14px;
  padding-left: 15px;
  cursor: text;

}

.left-nav-bar {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
}

.logo {
  height: 50px;
  padding: 0px 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.gradient-divider {
  position: absolute;
  top: 0px;
  height: 70px;
  width: 100%;
  background: linear-gradient(90deg, rgba(56,88,173,.9) 25%, rgba(101,145,227,0.7995973389355743) 80%);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.right-nav-bar {
  color: #AFAFAD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    position: relative;
}

.sign-up:hover, .log-in:hover {
  background-color: #424141
}

.sign-up, .log-in {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Helvetica Neue';
  height: 100%;
  padding: 0px 15px;
  cursor: pointer;
}